<style>
body {background-color: rgb(84, 4, 4);}
    p{
    color: rgb(234, 246, 187);
    display:flex;
    padding: 5px;
    margin: 10px;
    padding-bottom: 30px;
    border-radius: 1em;}
    h1{color: rgb(237, 123, 8);}
    
    .images{ 
    display:flex
    flex-wrap: wrap;
    align-content: space-between;
    }
</style>