body{background-color: rgb(176, 230, 234);}

    p{
    color: rgb(19, 17, 1);
    margin: 12px;
    padding: 37px;
    background-color:rgb(235, 205, 235);
    text-align: left;
    border-radius: 120x;
    font-size: 22px;
    
    }
    footer{
        color: rgb(14, 69, 87);
        margin: 12px;
        padding: 12px;
        background-color: rgba(239, 240, 232, 0.729);
    }

    q {
        quotes: '"' '"' "'" "'";
      }
      q::before {
        content: open-quote;
      }
      q::after {
        content: close-quote;
      }


    h1 {
    color: rgb(0, 14, 5);
    text-align: left;}
    
    .images{ 
    display:flex;
    align-content: space-between;
    justify-content: center;
    }

    .images2{
        display: flex;
        align-content: space-between;
    }


    nav{
        background-color: rgb(249, 220, 249);
        text-align: right;
        align-content: space-between;
        color: black;
        display: flex;
        text-decoration: none;
    }
    nav a{ 
        color: rgb(10, 0, 0);
        text-decoration: none;
        padding: 3px;
    }
    #skip {
        background-color: #ffa500;
        border: 1px solid #000000;
        padding: 2px;
        position: absolute;  /* out of page flow for layout */
        left: -999px;
    }
    #skip:focus {
        left: 10px;
        top: 30px;
    }
    .Music {
        display:flex;
        align-content: center;
        justify-content: space-between;
  
    }
    .Music2 {
        display:flex;
        align-content: center;
        justify-content: space-between;

    }
    .Music3{ 
        align-content: center;
        justify-content: space-between;
        display: flex;
    }

    @media only screen and (max-width:600px) {
        .images {width: 100%;}
        .images2 {width: 100%;}
        .Music {width: 100%;}
        .Music2 {width: 100%;}
        .Music3 {width: 100%;}
    }
