body {font-family:Courier New;}
 h1, h2 {color: rgb(109, 70, 180);}
.special {color:black;}
.evenrow {
    background-color: rgb(19, 157, 211);
 }
 .nav { background-color: rgba(40, 143, 246, 0.773);}