a:hover{
    color: #5c0606;
}

a:visited {
    color: rgb(178, 203, 142)
}
body {
    background-color: rgb(48, 174, 215);
}
p{
    background-color: aliceblue;
    padding: 10px; 
    margin: 20px;
}
h1{
    color:#000000;
}
h2{
    color: #000000;
}
nav {
    background-color: beige;
}
nav a {
    color:rgb(178, 203, 142)
}
p a {
    color:azure
}
nav a:hover {
    background-color: rgba(208, 124, 207, 0.809);
}
nav {
    padding: 10px
}
nav{
    margin-bottom: 30px;
}
